*{
    font-family: 'Poppins', sans-serif;
}

.navigation{
    border-top: 1px solid #E41321;
    border-bottom: 1px solid #E41321;
}

.nav-link{
    margin: 20px;
    color: #ffffff;
    font-size: 13px;
    background: linear-gradient(180deg, transparent, #353535, transparent);
    background-position: 100%;
    background-repeat: repeat-y;
    background-size: 1px auto;
}

.nav-link:hover{
    background-color: #E41321;
    color: #ffffff;
}

.nav-link a:hover{
    color: #ffffff;
}

.news-menu-text{
    color: #2D2A27;
    font-size: 10px;
    text-align: start;
}

.news-item{
    background-color: #E3E3E2;
    color: #0553A0;
    margin-top: 10px;
    padding: 10px;
}

.news-menu{
    border-top: 2px solid #c82333;
}

.news-one{
    background-color: #E3E3E2;
}

.footer{
    background-color: #2D2A27;
}

.footer-text{
    font-size: 10px;
    color: #E3E3E2;
    text-align: center;
}

.footer-bottom{
    padding: 40px;
    border-top: 1px solid #ffffff;
    background-color: #2D2A27;
    color: #E3E3E2;
    font-size: 10px;
    /*margin-top: 20px;*/
}

.footer-bottom h6{
    text-align: center;
    color: #E3E3E2;
}

.footer-communication{
    color: #E3E3E2;
    font-size: 13px;
}

.about-content{
    border-top: 5px solid white;
    background-color: #E3E3E2;
}

.about-text{
    font-size: 12px;
}

.about-news{
    background-color: #ffffff;
}

.about-news-title{
    margin-top: 40px;
}

.habari-links a{
    color: #E3E3E2;
    font-size: 13px;
}

.habari-links a:hover{
    color: #70B62E;
    font-size: 13px;
    text-decoration: none;
}
.about-news-highlights-read-more{
    background-color: #E3E3E2;
 }

.about-news-highlights-read-more a{
    color: #70B62E;
    font-size: 13px;
}

.about-news-highlights-content{
    font-size: 13px;
}

.about-news-highlights-title{
    font-size: 13px;
}

.post-user{
    color: #70B62E;
}

.post-time{
    color: #70B62E;
}

.about-testimonials{
    background-color: #E3E3E2;
    padding: 20px;
}

.contact-section{
    /*background: #000000 url("assests/ContactForm_Image.png") no-repeat right center;*/
    border-bottom:  5px solid #ffffff;
    background: url('assests/ContactForm_Image.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #2D2A27;
    background-size: auto 600px;
    /*background-size: 50% auto;*/
}

.social-media-icon{
    /*padding: 10px;*/
    /*border: 1px solid #E3E3E2;*/
    /*border-radius: 200%;*/
}

.social-media a{
    color: #E3E3E2;
    margin: 10px;
}

.social-media a:hover{
    color: #70B62E;
    transform: scale(1.2);
}

.about-staff{
    background-color: #2D2A27;
}

.ceo-message {
    background-color: #E3E3E2;

}
/*menu animation*/
.dropdown .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
}
.dropdown:hover .dropdown-menu {
    transform: scale(1);
}

